.edgtf-top-bar {
    .widget {
        display: inline-block;
        margin: 0;

        &.edgtf-separator-widget {
            vertical-align: middle;

            .edgtf-separator {
                margin: 0 20px;
            }
        }

        a:hover {
            color: #fff !important;
        }
    }
}